.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.routerLink {
  text-decoration: none;
  color: inherit;
  }
  
  .underlinedPryLink {
    text-decoration: underline;
    color: #CC33FF;
    }
  
  .primaryLink {
    text-decoration: none;
    color: #CC33FF;
    }
  
    .oneLineText {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
        overflow: hidden; 
    }
  
  .twoLineText {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
      overflow: hidden; 
  }